<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lin.cangkusp.dao.WarehouseMapper" >
  <resultMap id="BaseResultMap" type="com.lin.cangkusp.pojo.Warehouse" >
    <id column="wno" property="wno" jdbcType="VARCHAR" />
    <result column="wname" property="wname" jdbcType="VARCHAR" />
    <result column="waddress" property="waddress" jdbcType="VARCHAR" />
    <result column="sno" property="sno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    wno, wname, waddress, sno
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lin.cangkusp.pojo.WarehouseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from warehouse
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from warehouse
    where wno = #{wno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from warehouse
    where wno = #{wno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lin.cangkusp.pojo.WarehouseExample" >
    delete from warehouse
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lin.cangkusp.pojo.Warehouse" >
    insert into warehouse (wno, wname, waddress, 
      sno)
    values (#{wno,jdbcType=VARCHAR}, #{wname,jdbcType=VARCHAR}, #{waddress,jdbcType=VARCHAR}, 
      #{sno,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lin.cangkusp.pojo.Warehouse" >
    insert into warehouse
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wno != null" >
        wno,
      </if>
      <if test="wname != null" >
        wname,
      </if>
      <if test="waddress != null" >
        waddress,
      </if>
      <if test="sno != null" >
        sno,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wno != null" >
        #{wno,jdbcType=VARCHAR},
      </if>
      <if test="wname != null" >
        #{wname,jdbcType=VARCHAR},
      </if>
      <if test="waddress != null" >
        #{waddress,jdbcType=VARCHAR},
      </if>
      <if test="sno != null" >
        #{sno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lin.cangkusp.pojo.WarehouseExample" resultType="java.lang.Integer" >
    select count(*) from warehouse
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update warehouse
    <set >
      <if test="record.wno != null" >
        wno = #{record.wno,jdbcType=VARCHAR},
      </if>
      <if test="record.wname != null" >
        wname = #{record.wname,jdbcType=VARCHAR},
      </if>
      <if test="record.waddress != null" >
        waddress = #{record.waddress,jdbcType=VARCHAR},
      </if>
      <if test="record.sno != null" >
        sno = #{record.sno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update warehouse
    set wno = #{record.wno,jdbcType=VARCHAR},
      wname = #{record.wname,jdbcType=VARCHAR},
      waddress = #{record.waddress,jdbcType=VARCHAR},
      sno = #{record.sno,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lin.cangkusp.pojo.Warehouse" >
    update warehouse
    <set >
      <if test="wname != null" >
        wname = #{wname,jdbcType=VARCHAR},
      </if>
      <if test="waddress != null" >
        waddress = #{waddress,jdbcType=VARCHAR},
      </if>
      <if test="sno != null" >
        sno = #{sno,jdbcType=VARCHAR},
      </if>
    </set>
    where wno = #{wno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lin.cangkusp.pojo.Warehouse" >
    update warehouse
    set wname = #{wname,jdbcType=VARCHAR},
      waddress = #{waddress,jdbcType=VARCHAR},
      sno = #{sno,jdbcType=VARCHAR}
    where wno = #{wno,jdbcType=VARCHAR}
  </update>
</mapper>